<!DOCTYPE html>

{% load nvd3_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>rEXbot 0.1 Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}main_engine/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{ STATIC_URL }}dashboard_engine/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard_engine/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard_engine/css/morris.css">


  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">rEXbot 0.1</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="active"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/charts"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
            <li><a href="tables.html"><i class="fa fa-table"></i> Tables</a></li>
            <li><a href="forms.html"><i class="fa fa-edit"></i> Forms</a></li>
            <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
            <li><a href="bootstrap-elements.html"><i class="fa fa-desktop"></i> Bootstrap Elements</a></li>
            <li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i> Bootstrap Grid</a></li>
            <li><a href="blank-page.html"><i class="fa fa-file"></i> Blank Page</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Dropdown Item</a></li>
                <li><a href="#">Another Item</a></li>
                <li><a href="#">Third Item</a></li>
                <li><a href="#">Last Item</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                <li class="divider"></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Not logged in: <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            
            <ol class="breadcrumb">
              <li class="active"><img src='{{ STATIC_URL }}main_engine/images/icons/person25.png' width='50'> <span class=''>REXbot 0.1</span></li>

            </ol>
            <h1><span class='ticker-numbers'>{{usdticker.display}}</span> - <i class="fa fa-btc fa-1x"></i> from MtGOX (Japan)</h1>
            <h3>
              {% if trend_hour > 0 %}
                <span class='label label-success'><i class='fa fa-arrow-up fa-1x'></i> {{ trend_hour|floatformat:2  }} % last hour - from ${{one_hour_ago|floatformat:0}}</span>
              {% else %}
                <span class='label label-danger'><i class='fa fa-arrow-down fa-1x'></i> {{ trend_hour|floatformat:2  }} % last hour- from ${{one_hour_ago|floatformat:0}}</span>
              {% endif%}

              {% if trend_day > 0 %}
                <span class='label label-success'><i class='fa fa-arrow-up fa-1x'></i> <span class='fa-1x'>{{ trend_day|floatformat:2  }} % last 24 hours - from ${{one_day_ago|floatformat:0}}</span>
              {% else %}
                <span class='label label-danger'><i class='fa fa-arrow-down fa-1x'></i> {{ trend_day|floatformat:2  }} % last 24 hours - from ${{one_day_ago|floatformat:0}}</span>
              {% endif%}
            </h3>

            <h1><small><span class='ticker-numbers'>{{eurticker.display}}</span> - <i class="fa fa-btc fa-1x"></i> from MtGOX (Japan)</small></h1>

            <h1><small><span class='ticker-numbers'>{{BTCE_EUR_ticker|floatformat:2}} €</span> - <i class="fa fa-btc fa-1x"></i> from BTC-e (Russia)</small></h1>
            <!-- <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Welcome to SB Admin by <a class="alert-link" href="http://startbootstrap.com">Start Bootstrap</a>! Feel free to use this template for your admin needs! We are using a few different plugins to handle the dynamic tables and charts, so make sure you check out the necessary documentation links provided.
            </div> -->
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-btc fa-5x"></i>
                  </div>
                  <div class="col-xs-7 text-right">
                    <p class="announcement-heading">{{ticker}}</p>
                    <p class="announcement-text">{{ pair }}</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Litecoin
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-btc fa-5x"></i>
                  </div>
                  <div class="col-xs-7 text-right">
                    <p class="announcement-heading">{{ticker2}}</p>
                    <p class="announcement-text">{{ pair2 }}</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Peercoin
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-btc fa-5x"></i>
                  </div>
                  <div class="col-xs-7 text-right">
                    <p class="announcement-heading">{{ticker3}}</p>
                    <p class="announcement-text">{{ pair3 }}</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Namecoin
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-btc fa-5x"></i>
                  </div>
                  <div class="col-xs-7 text-right">
                    <p class="announcement-heading">{{ticker4}}</p>
                    <p class="announcement-text">{{ pair4 }}</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Quarkcoin
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Traffic Statistics: October 1, 2013 - October 31, 2013</h3>
              </div>
              <div class="panel-body">
                <div id="morris-chart-area"></div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-6">
            

                    
                    <div class="panel panel-primary">
                      <div class="panel-body">
                        {% include_container chartcontainer 500 700 %}
                        <div class="text-right">
                          <!-- <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a> -->
                        </div>
                      </div>
                    </div>


          </div>
          <div class="col-lg-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> Owned</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  
                

                    <!-- <a href="#" class="list-group-item">
                      <div>Asks</div>
                      <div style="color:#000"><i class="fa fa-question fa-2x" title="Ask Price"></i>Ask Price {{ ask.0 }}<i class="fa fa-btc fa-2x " title="Ask Volume"></i>Ask Volume {{ ask.1 }}</div></br>
                    </a> -->

                    <div class="row">



                      .
                      <div class="col-lg-12">
                        <div class="panel panel-info">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-xs-5">
                                <i class="fa fa-btc fa-3x"></i>
                              </div>
                              <div class="col-xs-7 text-right">
                                <p class="announcement-heading">0</p>
                                <p class="announcement-text">Bitcoin</p>
                              </div>
                            </div>
                          </div>
                          <a href="#">
                            <div class="panel-footer announcement-bottom">
                              <div class="row">
                                <div class="col-xs-6">
                                  Check BTC account
                                </div>
                                <div class="col-xs-6 text-right">
                                  <i class="fa fa-arrow-circle-right"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="panel panel-info">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-xs-5">
                                <i class="fa fa-btc fa-3x"></i>
                              </div>
                              <div class="col-xs-7 text-right">
                                <p class="announcement-heading">0</p>
                                <p class="announcement-text">Bitcoin</p>
                              </div>
                            </div>
                          </div>
                          <a href="#">
                            <div class="panel-footer announcement-bottom">
                              <div class="row">
                                <div class="col-xs-6">
                                  Check BTC account
                                </div>
                                <div class="col-xs-6 text-right">
                                  <i class="fa fa-arrow-circle-right"></i>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                    </div>

              



                </div>
                <div class="text-right">
                  <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Recent Transactions</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                      <tr>
                        <th>Price LTC-BTC<i class="fa fa-sort"></i></th>
                        <th>Volume LTC<i class="fa fa-sort"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      {% for ask in asks %}
                         
                          <tr>
                            <td>{{ ask.0 }}</td>
                            <td>{{ ask.1 }}</td>
                          </tr>
                      
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
                <div class="text-right">
                  <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}dashboard_engine/js/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}dashboard_engine/js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    <script src="{{ STATIC_URL }}dashboard_engine/js/raphael-min.js"></script>
    <script src="{{ STATIC_URL }}dashboard_engine/js/morris/morris-0.4.3.min.js"></script>
    <script src="{{ STATIC_URL }}dashboard_engine/js/morris/chart-data-morris.js"></script>
    <script src="{{ STATIC_URL }}dashboard_engine/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="{{ STATIC_URL }}dashboard_engine/js/tablesorter/tables.js"></script>
    <script>
     var time = new Date().getTime();
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     //60000 microseconds (1 minute)
     function refresh() {
         if(new Date().getTime() - time >= 60000) 
             window.location.reload(true);
         else 
             setTimeout(refresh, 10000);
     }

     setTimeout(refresh, 10000);
    </script>
  </body>
</html>
